/* * CSS Reset. Credits to Josh Comeau. 
Link: https://www.joshwcomeau.com/css/custom-css-reset/     */

*, *::before, *::after{
    box-sizing: border-box;
    /* outline: 1px solid rgb(176, 98, 98); */
}

/* Removes default margin for all elements except dialogs. Pseudo-elements do not have default margins, etc. */
*:not(dialog){
    margin: 0
}

/* minimize or reduce animations if requested by the user's preferences */
@media (prefers-reduced-motion: no-preference){
    html{
        interpolate-size: allow-keywords;
    }
}

body{
    line-height: 1.5; /* widely considered as a baseline for text readability */
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg{
    display: block;
    max-width: 100%; 
}

input, button, textarea, select{
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

p{
    text-wrap: pretty;
}

/* Adjusts line breaks so that text blocks share an equal number of characters per line*/
h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
}

a{
    text-decoration: none;
    color: black;
}

/* ------------------------------------------------------------------------------------- */
:root{
    --bg-color: #e3b04b;
    --page-color: #f1d6ab;
}

body{
    background-color: var(--bg-color);
}

.background-img{
    min-height: 100dvh;

    background: url(./images/statue-harbor-bg.jpeg);
    background-repeat: repeat;
    background-size: 70rem auto;

    display: flex;
    justify-content: center;
    align-items: self-start;
}

.content-page{
    display: flex;
    flex-direction: column;
    background-color: var(--page-color);
    padding: 1rem;
    width: max(25rem, 50dvw);
    
}

.title{
    justify-self: center;
    width: min(38ch, 100%); 
    text-align: center;

    font-weight: bold;
    letter-spacing: -0.1rem;
    word-spacing: normal;
}

figcaption{
    font-size: .7rem;
    text-align: center;
}

nav{
    display: flex;
    gap: .4rem;
    margin: 1rem 1.5rem 1rem;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-evenly;

    border-radius: .5rem;
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 3rem;
    text-align: center;
    line-height: 2rem;
}

footer{
    display: flex;
    justify-content: space-between;
}

.button{
    margin: 1rem 2rem;
    padding: .5rem;
    background-color: #777;   
    color: white;
}

.headings{
    text-align: center;
}

a:hover{
    text-decoration: underline;
}

figure{
    display: flex; 
    flex-direction: column;
}

/* ---------- THESIS ----------- */
.thesis-container,
.origins-container{
    display: flex;
    gap: 1rem;
}

.thesis-figure,
.origins-figure{
    flex: 1;
}

.thesis-figure > img{
    width: 70%;
    margin: auto;

}

.thesis-container > p,
.origins-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-right: 1rem;
}

.text{
    max-width: 65ch;
    font-size: .8rem;
}

.text-no-limit{
    font-size: .8rem;

}

/* ----------- Origins --------- */
.origins-text-container{
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: -2rem;
}

.separator{
    width: 100%;
    border-top: 1px dotted honeydew; 
    margin: 2rem 0; 
}

cite{
    display: block;
    width: max-content;
    margin: auto;
}

.blue-line{
    border-right: .25rem solid rgb(66, 135, 245);
    margin-left: 1rem;
    height: auto;
    margin-bottom: 0.5rem;
}

.labor-world-quote,
.the-commoner-quote,
.legacy-quote{
    display: flex; 
    gap: 1rem;
}

.flex-div{
    display: flex;
    flex-direction: column;
}

.growing-resentment{
    display: flex;
    gap: 1rem;
}

.growing-resentment-text,
.growing-resentment-figure{
    flex-basis: 50%;
    align-self: center;
    justify-self: center;
}

.media-figure{
    padding: 0 5rem;
    margin: 1.5rem 0;
}

.media-images > div{
    display: flex;
    gap: 1rem;
}

.upper-images figure{
    padding: 0 1rem;
}

.chinese-invasion-figure{
    display: block;
    width: 50%;
    margin: 1rem auto;
}

/* ----------Resistance--------- */ 
.resistance-container{
    display: flex;
    margin-bottom: 2rem;
}

.resistance-right img{
    display: inline-block;
    width: 65%;
    margin: auto;
}

/* ---------- Legacy ----- */
.fight-the-virus-figure{
    margin: 2rem;
}

/* ------- Conclusion ----- */
.conclusion-figure img{
    display: inline-block;
    width: 75%;
    margin: auto;
}

/* ----- Sources ---- */
.source-paper{
    width: 100%;
    height: 25rem; 
}